/* Broad layout */
.character-skills {
    display: grid;
    grid-template-columns: 2fr 1fr; /* core vs derived stats */
    gap: 2rem;
}

/* Details inside core-stats */
.core-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* space between stat blocks */
}

/* Details inside derived-stats */
.derived-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roll-button-container{
    margin-bottom: 3rem;
}


.stat-block p {
    display:inline;
}

button {
  background: #222;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace; 
  text-align: center;
  margin-top: 0.5rem;
}

button:hover {
  background: #444;
}
