.character-skills {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 2rem;
}

.core-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.hpDisplay
{
    text-align: center;
    font-weight: bold;
}

.derived-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roll-button-container{
    margin-bottom: 3rem;
}


.stat-block p {
    display:inline;
}

button {
  background: #222;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace; 
  text-align: center;
  margin-top: 0.5rem;
}

button:hover {
  background: #444;
}

.hitPoints
{
    background-color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border:2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.healthInput
{
    height: auto; 
    align-self: stretch;
    box-sizing: border-box;
}


.healButton {
    color: lightgreen;
    border: 2px solid lightgreen;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem; 
    background-color: transparent; 
    font-family: monospace;
}


.damageButton
{
    color: red;
    border: 2px solid red; 
    margin: 0.5rem 0.5rem 0.5rem 0.5rem; 
    background-color: transparent; 
    font-family: monospace;
}